/*
colors
white: #faf7fd
black: #031927
max yellow red: #f5bb50
max blue purple: #94a9e2
violet blue crayola: #7977b8
lavender floral: #b384f4
royal purple: #843da7
candy pink: #e47585
*/

body {
  background-color: #faf7fd;
  color: #031927;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}

/* * * NAVIGATION * * */

nav {
  background-color: #031927;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav li a {
  display: block;
  color: #faf7fd;
  text-decoration: none;
  text-align: center;
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 18px;
  margin: 18px;
  padding: 15px;
}

/* * * HEADERS * * */

h1 a {
  font-family: "Noto Sans JP";
  font-weight: 700;
  color: #faf7fd;
  float: left;
  font-size: 2em;
  text-decoration: none;
  position: relative;
  margin-top: 7px;
  margin-left: 50px;
}

h1 a:hover {
  color: #faf7fd;
}

h2 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  color: #031927;
  font-size: 1.75em;
  margin-bottom: 8px;
}

/* * * PAGE * * */

#page {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#footnotes {
  margin-top: 16px;
  font-size: 14px;
  position: relative;
  text-align: left;
}

/* * * IMG * * */
#banner {
  width: 100%;
  position: relative;
}

#aboutImg {
  width: 40%;
  float: left;
  margin-right: 45px;
}

a {
  color: #7977b8;
  text-decoration: none;
}

a:hover {
  color: #94a9e2;
}

p {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

.button {
  background-color: #faf7fd; /* Green */
  border: 2px solid #7977b8;
  padding: 14px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #7977b8;
  color: #faf7fd;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  text-align: left;
}
